@import url("https://use.typekit.net/jbs6usg.css");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#63a69a), to(#3d665f));
  background: linear-gradient(#63a69a, #3d665f);
  font-family: automate,sans-serif;
  font-weight: 700;
  font-style: normal;
  overflow: hidden;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.container .calculator {
  width: 400px;
  background: #fff;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(242, 181, 167, 0.5)), to(rgba(242, 129, 119, 0.5))), url("/noise.svg");
  background: linear-gradient(rgba(242, 181, 167, 0.5), rgba(242, 129, 119, 0.5)), url("/noise.svg");
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.container .calculator header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  border-radius: 20px 20px 0 0;
  color: #fff;
  padding: 2rem;
}

.container .calculator header h1 {
  overflow-x: auto;
  font-size: 48px;
  margin: 0 0;
}

.container .calculator .calc-body {
  padding: 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.container .calculator .calc-body button {
  font-family: automate,sans-serif;
  min-height: 50px;
  font-size: 28px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px, rgba(0, 0, 0, 0.2) 0px 4px 2px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px, rgba(0, 0, 0, 0.2) 0px 4px 2px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.container .calculator .calc-body button:hover {
  color: #f2b5a7;
}

.container .calculator .calc-body button:active {
  -webkit-transform: translatey(1px);
          transform: translatey(1px);
  -webkit-box-shadow: rgba(64, 63, 63, 0.2) 2px 2px 6px 0px inset, rgba(45, 44, 44, 0.1) -3px -3px 4px 1px inset;
          box-shadow: rgba(64, 63, 63, 0.2) 2px 2px 6px 0px inset, rgba(45, 44, 44, 0.1) -3px -3px 4px 1px inset;
}

.container .calculator .calc-body button:focus {
  outline: none;
}

.container .calculator .calc-body .operator {
  background-color: #8fbfba;
  color: #fff;
  font-size: 34px;
}

.container .calculator .calc-body .equal-sign {
  grid-column: -2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2/6;
  background-color: #63a69a;
}

.container .calculator .calc-body .clear {
  background-color: #f28177;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f2b5a7;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f28177;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f28da8;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .container .calculator {
    width: 95%;
  }
}
/*# sourceMappingURL=style.css.map */